body{
    background-repeat: repeat;
}

.ButtonClass{
  background-color: #77acd8;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;
}

#buttonBox1{
    position: absolute;
    margin-left: 110px;
    margin-top: 110px;
}

#buttonBox2{
    position: absolute;
    margin-left: 250px;
    margin-top: 110px;
}

#buttonBox3{
    position: absolute;
    margin-left: 110px;
    margin-top: 200px;
}

#buttonBox4{
    position: relative;
    margin-left: 250px;
    margin-top: 200px;
}


#questionBox{
    width: 300px;
    height: 200px;
    position: absolute;
    margin-left: 100px;
    margin-top: 100px;
}
#answerText{
    width: 320px;
    height: 120px;
    position: absolute;
    margin-left: 120px;
    margin-top: 220px
}
#answerButton{
    position: absolute;
    margin-left: 230px;
    margin-top: 270px
}

#goBackButton{
    position: absolute;
    margin-left: 230px;
    margin-top: 270px
}



#ThreePartContainer{
    margin:auto;
}


#buttonWrapper{
    float:left;
    height: 500px;
    width: 500px;
    background-image: url("../src/assets/bubbleL.PNG");
}


#catWrapper{
    float:left;
    margin-top: 400px;
    height: 500px;
    width: 500px;
}

#qaWrapper{
    float:left;
    height: 500px;
    width: 500px;
    background-image: url("../src/assets/bubbleR.PNG");
}



  

  

  




  

